@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  font-family: "Inter", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #324356;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@layer tailwind-base {
  @media screen(md) {
  }
}

@layer tailwind-utilities {
  button:focus,
  button:focus-visible {
    outline: 0px auto -webkit-focus-ring-color;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }
  .text-bal {
    text-wrap: balance;
  }

  .p-invalid {
    @apply border border-primary-red;
  }

  .left-revert {
    left: revert;
  }

  .dotted-line {
    border-top-style: dotted;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .scrollable-content {
    height: calc(80vh - 100px); /* Adjust the same value here */
    overflow-y: auto;
  }

  .chart-bg {
    width: 100%;
    height: 100%;
    background-image: url("/src/assets//chart_bg.png");
    background-size: cover;
  }

  .login-bg {
    background-image: url("/src/assets/authentication-assets/background.png");
    background-size: fit;
    background-position: left;
    background-repeat: no-repeat;
  }
}

/* For WebKit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #b5b7be;
  border-radius: 8px;
}

/* Hide the scrollbar track by default */
::-webkit-scrollbar-track:hover {
  background-color: #f1f1f1;
}
